@font-face {
    font-family: StarWars;
    src: url("fonts/Starjedi.ttf"); 
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
 }

body { 
    margin: 0; 
    -webkit-box-sizing:border-box; 
  } 
  canvas {
    display: block;
  }
  div {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

#center{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
#loading{
    color: rgb(255, 217, 0);
    font-family: StarWars;
    font-size: 4vw;
    letter-spacing: 7px;
}